//
// CallsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class CallsAPI {
    /**
     Update call by course Id
     
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func updateCallByCourseId(completion: @escaping ((_ error: Error?) -> Void)) {
        updateCallByCourseIdWithRequestBuilder().execute { (response, error) -> Void in
            completion(error);
        }
    }


    /**
     Update call by course Id
     - POST /courses/{courseId}/call
     - Update call by course Id

     - returns: RequestBuilder<Void> 
     */
    open class func updateCallByCourseIdWithRequestBuilder() -> RequestBuilder<Void> {
        let path = "/courses/{courseId}/call"
        let URLString = SwaggerClientAPI.basePath + path
        let parameters: [String:Any]? = nil

        let url = NSURLComponents(string: URLString)


        let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getNonDecodableBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
